<link rel="stylesheet" href="/css/admin-login.css">


<div class="loginDiv" id="loginDiv">
	<h1>Admin Login</h1>
	<div class="inputField">
		<input type="text" id="username" required aria-invalid="false" name="email" />
		<label>Email</label>
	</div>
	<div class="inputField">
		<input type="password" id="password" required aria-invalid="false" name="password"/>
		<label>Password</label>
	</div>
	<div class="error" aria-errormessage="Invalid username or password." id="error">
	<p>You have entered an invalid username or password.</p>
</div>
	<button id="login" class="login">Login</button>
</div>
</div>