<%-include('../partials/user/header')%>

  <style>
    .categories-text {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: rgb(122, 121, 121);

      font-family: Arial, sans-serif;
    }

    /* .categories-text:hover {
      color: black;
    } */

    .form-container {
      background-color: #ffffff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      max-width: 600px;
      margin:auto;
    }

    .form-label {
      font-weight: 500;
      color: #495057;
    }

    .form-control {
      border-radius: 8px;
      border: 1px solid #ced4da;
    }

    .form-control:focus {
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      border-color: #80bdff;
    }
  </style>
  <!-- Shop Section Begin -->
  <section class="shop spad">
    <div class="container">
      <div class="breadcrumb__text">
        <div class="breadcrumb__links">
          <a href="/">Home</a>
          <span>Profile</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-3">
          <div class="shop__sidebar">
            <!-- <div class="shop__sidebar__search">
              <form action="#">
                <input type="text" placeholder="Search...">
                <button type="submit"><span class="icon_search"></span></button>
              </form>
            </div> -->
            <div class="shop__sidebar__accordion">
              <div class="accordion" id="accordionExample">
                <div class="card categories-text active">
                  <a href="/profile" class="text-dark ">Personal Info</a>
                </div>
              </div>
              <hr>
              <div class="accordion" id="accordionExample">
                <div class="card categories-text">
                  <a href="/address" class="text-secondary text-decoration-none hover:text-danger">Address</a>
                </div>
              </div>
              <hr>
              <div class="accordion" id="accordionExample">
                <div class="card categories-text">
                  <a href="/orders" class="text-secondary text-decoration-none hover:text-danger">Orders</a>
                </div>
              </div>
              <hr>
              <div class="accordion" id="accordionExample">
                <div class="card categories-text">
                  <a href="" class="text-secondary text-decoration-none hover:text-danger">Wallet</a>
                </div>
              </div>
              <hr>
              <div class="accordion" id="accordionExample">
                <div class="card categories-text">
                  <a href="" class="text-secondary text-decoration-none hover:text-danger">My Reviews</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="container container">
            <div class="form-container">
              <!-- Heading -->
              <h3 class="text-center">Account Details</h3>
              <p class="text-center text-muted">Update your profile</p>
              <hr>
              <br>
              <!-- Form -->
              <form>
                <!-- Name Field -->
                <div class="row mb-4 align-items-center">
                  <div class="col-sm-3">
                    <label for="name" class="form-label">Name:</label>
                    
                  </div>
                  <div class="col-sm-9 d-flex">
                    <input type="text" class="form-control" id="name" placeholder="User Name" value="<%=user?.name%>">
                    <button class="btn btn-secondary ml-3 px-4" id="nameEditBtn">Edit</button>
                  </div>
                </div>

                <!-- Email Field -->
                <div class="row mb-4 align-items-center">
                  <div class="col-sm-3">
                    <label for="email" class="form-label">Email:</label>
                  </div>
                  <div class="col-sm-9 d-flex">
                    <input type="email" class="form-control" id="email" placeholder="E mail"
                      value="<%=user?.email%>" disabled>
                    <!-- <button class="btn btn-warning ml-3">Change</button> -->
                  </div>
                </div>
                <!-- Password Field -->
                <div class="row mb-4 align-items-center">
                  <div class="col-sm-3">
                    <label for="password" class="form-label">Password:</label>
                  </div>
                  <div class="col-sm-9 d-flex">
                    <input type="password" class="form-control" id="password" placeholder="Enter your password"
                      value="shaheer@123" disabled>
                     <a href="/changePassword" class="btn btn-secondary ml-3" >Change</a>
                  </div>
                </div>
                <!-- <div class="row mb-4 align-items-center">
                  <a class="text-primary" href="/forgotPassword">Forgot password?</a>
                </div> -->
                <hr>
                <!-- Button -->
                <div class="text-right">
                  <!-- <button class="btn btn-warning ml-3">Edit</button> -->
                  <button type="button" class="btn btn-danger px-1 py-2 " >Delete Account</button>
                </div>

              </form>
            </div>
          </div>
        </div>

        <!-- Footer Section End -->

        <!-- Search Begin -->
        <div class="search-model">
          <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
              <input type="text" id="search-input" placeholder="Search here.....">
            </form>
          </div>
        </div>
        <!-- Search End -->


       
        <!-- Js Plugins -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.nice-select.min.js"></script>
        <script src="js/jquery.nicescroll.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/jquery.slicknav.js"></script>
        <script src="js/mixitup.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


        </body>
    </html>
    <script>
      const changeName = document.getElementById('nameEditBtn')
      const userName = document.getElementById('name')
      changeName.addEventListener('click',(e)=>{
        e.preventDefault();
        console.log(userName.value)
        
        Swal.fire({
        title: 'Name Field',
        text: "Do you want to edit this field?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, do it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {
          console.log('Success');
          axios.patch('/nameEdit',{userName:userName.value})
          .then(res => {
            console.log("inside swal")
            if(res.data){
              Swal.fire({
              title: 'Success!',
              text: 'Category Edited successfully!',
              icon: 'success',
              confirmButtonText: 'Okay'
            }).then(() => {
              console.log('reloading page....')
              window.location.reload(); // Reload the page after success
            });
            }
           
          })
          .catch(err => {
            console.error('Error:', err);
            Swal.fire({
              title: 'Error!',
              text: 'Failed to Edit Name.',
              icon: 'error',
              confirmButtonText: 'Okay'
            });
          });
        } else if (result.isDismissed) {
          console.log('Failed');
        }
      });
      })
      

      // const changePass = document.getElementById('changePassBtn');
      // const password = document.getElementById('password');
      // changePass.addEventListener('click',(e)=>{
      //   e.preventDefault();
        
      // })
   

    </script>